.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;

  box-shadow: none;
  transition: none;
}

.info-card:hover {
  /* Garante que nada mude ao passar o mouse */
  transform: none;
  box-shadow: none;
}

.info-card-icon {
  height: 60px;
  margin-bottom: 10px;
}

.info-card-title {
  color: var(--cor-primaria);
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.info-card-text {
  color: var(--cor-secundario);
  font-size: 16px;
  line-height: 1.6;
}
