.detail-hero {
  width: 85%;
  margin: 0px auto 0 auto;
  height: 72vh;
  border-radius: 8px;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: var(--cor-fundo);
  display: flex;
  align-items: center;
  position: relative;
}

.detail-hero {
  text-align: left;
  padding-left: 0;
  align-items: end;
}

.detail-hero h1 {
  font-size: 39px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 1.2rem;
  line-height: 1.2;
  padding: 0 15px;
}

.flex_area { 
  width: 85%;
  margin: 0px auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  /* flex-direction: column; */
}

.icons {
  color: var(--cor-texto);
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.icons-favorite { 
  color: var(--cor-erro);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sugested_user { 
  width: 85%;
  font-size: 16px;
  margin-bottom: 0px;
  color: black;
}

.user { 
  display: flex;
  gap: 10px;
  align-items: center;
}

.user p { 
  font-size: 20px;
  color: var(--cor-primaria);
}

.user svg { 
  color: var(--cor-primaria);
}

.description-section {
  text-align: justify;
}

.destination-card-link {
  text-decoration: none;
  color: inherit;
  display: block;
  border-radius: 16px;
}

.destination-card {
  position: relative;
  min-width: 320px;
  height: 220px;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.destination-card:hover {
  transform: scale(1.03);
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.1); 

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.destination-card:hover .card-overlay {
  background-color: rgba(0, 0, 0, 0);
}

.card-title {
  color: white;
  margin: 0;
  font-size: 25;
  font-weight: 500;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.localization-grid{
  display: grid;
  grid-template-columns: 1fr 1fr; 
  align-items: start;
}

.localization-grid, 
.map-section {
  gap: 20px;
}

.localization-grid,
.to-arrive {
  background-color: var(--cor-fundo);
  text-align: justify;
}

.contaiter-to-arrive {
  padding: 10px;
}

.title {
  display: contents;
  align-items: center;
}

.title h3 {
  font-size: 18px;
  color: var(--cor-secundaria);
  margin: 10px 0;
}

.icon-type {
  display: flex;
}

.icon-type span {
  font-size: 16px;
  color: var(--cor-texto);
}

.contaiter-to-arrive p {
  font-size: 14px;
  color: var(--cor-texto);
}

.commentForm {
  display: flex;
  flex-direction: column;
  gap: 10px; 
  margin-top: 10px;
  margin-bottom: 10px; 
}

.commentInput {
  width: 100%;
  padding: 16px; 
  border-radius: 10px; 
  resize: vertical;
  font-size: 14px; 
  box-sizing: border-box;
  min-height: 100px; 
  /* font-family: inherit; */
}

.commentInput:focus {
  outline: none;
  border-color: var(--cor-hover); 
}

.hero-button2 {
  width: 30%;
  align-self: end;
  display: inline-block;
  padding: 15px 35px;
  font-size: 16px;
  font-weight: 500;
  color: var(--cor-fundo);
  background-color: var(--cor-primaria);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.hero-button2:hover {
  background-color: var(--cor-hover);
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.commentError {
  color: var(--cor-erro); 
  text-align: right; 
}

.user_feedback {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px; 
}

.info_user1 {
  display: flex;
  align-items: center;
  gap: 18px; 
  margin-bottom: 10px;
}

.info_user1 svg {
  color: var(--cor-cinza-secundario);
  font-size: 50px;
}

.info_user1 h3 {
  font-size: 18px;
  color: var(--cor-secundaria);
  margin: 0;
}

.info_user1 span {
  font-size: 0.95rem; 
  color: var(--cor-texto); 
  margin-left: auto; 
}

.user_feedback p {
  font-size: 1.05rem; 
  line-height: 1.7; 
  color: var(--cor-texto); 
  margin: 0;
}
.map-section {
  width: 100%;
  min-height: 420px;
}

.map-section .leaflet-container {
  height: 400px !important;
  width: 100% !important;
  border-radius: 10px;
  margin-top: 10px;
}
